/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Geneva, sans-serif;
}
a {
  color: #2772b0;
}
.wrapper {
  width: 97%;
  max-width: 1200px;
  margin: 0 auto;
  float: none;
  background-color: #fff;
}

div img {
  width: 100%;
  max-width: 225px;
}

/* grid system -- mobile first! */

.row {
  display: flex; /* default */
  flex-direction: row; /* default */
  flex-wrap: wrap; /* default */
  justify-content: flex-start; /* default */
}

.col-1-2-4 {
  background-color: #ffc;
  flex-basis: 92%;
  margin-left: 4%;
}

.col-2-2-4 {
  background-color: #ccf;
  flex-basis: 92%;
  margin-left: 4%;
}

.col-1-4-4 {
  background-color: #ffc;
  flex-basis: 92%;
  margin-left: 4%;
}

.col-3-4-4 {
  background-color: #fcf;
  flex-basis: 92%;
  margin-left: 4%;
}

.col-4-4-4 {
  background-color: #cff;
  flex-basis: 92%;
  margin-left: 4%;
}

.col-2-1-4 {
  background-color: #ccf;
  flex-basis: 92%;
  margin-left: 4%;
}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px) {
  .col-1-2-4 {
    flex-basis: 44%;
  }

  .col-2-2-4 {
    flex-basis: 44%;
  }

  /* col-4-4-4 is the same as mobile */

  .col-2-1-4 {
    order: -1;
  }
}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
  .col-1-2-4 {
    flex-basis: 20%;
  }

  /* col-2-2-4 same as mobile landscape */

  .col-1-4-4 {
    flex-basis: 22%;
  }

  .col-3-4-4 {
    flex-basis: 66%;
  }

  /* col-4-4-4 is the same as mobile */

  .col-2-1-4 {
    flex-basis: 44%;
    order: 0;
  }

  /* 
	since reversing flex-direction switches the base line from left to right
	so all flex items are pushed as far to the right as possible
	to force items to the left while reversing, we can add justify-content: flex-end 
	*/
  .reverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}
